body{
     background-image: url("https://1.bp.blogspot.com/-Y-dg62fTXfY/VOubqCX6L6I/AAAAAAAABiE/n-OcqoivciQ/s1600/black-background-leather-hd-desktop-wallpaper-widescreen-high.jpg");
    }
    h2{
     color: silver;
     font-size: 25px;
    }